/* Definir variables CSS en la raíz con la nueva paleta de colores */
:root {
    --font-family-base: 'Poppins', sans-serif;
    --font-family-heading: 'Merriweather', serif;
    --font-size-base: 20px; /* Tamaño de fuente base */
    --color-primary: #0b5063; 
    --color-secondary: #fcd308; 
    --color-tertiary: #0cf546;
    --color-gray1: #758488; 
    --color-gray2: #516064;
    --color-blue: #1367d4;
    --padding-base: 20px;
    --border-radius: 8px;
    --color-input-text: #ebecee; /* Color para el texto de ingreso */
    --color-result-text: #f3efeb; /* Color para el texto de resultado */
    --color-button-text: #eef0f1; /* Color para el texto de los botones */
}

/* Reset de CSS para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para el cuerpo */
body {
    font-family: var(--font-family-base);
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 10px;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    background-color: var(--color-bg); /* Usa el mismo color de fondo que el cuerpo */
    padding: var(--padding-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Necesario para posicionar el título correctamente */
}

h1.page-title {
    font-family: var(--font-family-heading);
    font-size: 2rem;
    color: var(--color-secondary);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Contenedor principal que ocupa todo el espacio disponible entre el header y el footer */
main {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los contenedores izquierdo y derecho */
    align-items: stretch; /* Asegura que los contenedores se estiren para ocupar todo el espacio disponible */
    width: 80%;
    max-width: 1200px;
    padding: var(--padding-base);
    background-color: var(--color-gray2);
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el contenedor izquierdo */
.left-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray2);
    height: 100%; /* Ocupa toda la altura disponible del contenedor principal */
}

.text-input {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    flex: 1; /* Permite que el textarea se expanda para ocupar el espacio disponible */
    padding: 50px; /* Espacio interno dentro del contenedor, ajusta según sea necesario */
    background-color: var(--color-text); /* Fondo opcional para destacar el contenedor */
    box-sizing: border-box; /* Incluye padding y border en el cálculo de width y height */
    min-height: 500px; /* Altura mínima del contenedor, ajusta según sea necesario */
    margin-bottom: 160px; /* Ajusta el margen inferior si es necesario */
    border: none;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base); /* Asigna la fuente base al área de texto */
    outline: none; /* Quita el borde de enfoque */
    color: var(--color-input-text); /* Cambia el color del texto en el área de ingreso */
    font-family: var(--font-family-base);
}
.text-input::placeholder {
    color: var(--color-left-container-text); /* Aplica el color deseado al texto del placeholder */
}




.alert {
    margin: auto; /* Centra el aviso horizontalmente */
    margin-bottom: 20px; /* Espacio entre el aviso y los botones */
    margin-top: auto; /* Empuja el aviso hacia arriba, si es necesario */
    text-align: center; /* Centra el contenido del aviso */
    margin-bottom: 60px; /* Ajusta el margen inferior si es necesario */
}

.alert .fas {
    color: var(--color-secondary);; /* Cambia el color del icono del aviso */
}
.alert p {
    color:var(--color-secondary) !important; /* Cambia el color del texto del aviso */
    font-family: var(--font-family-base); /* Asigna la fuente base al texto del aviso */
}


.button-frame {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estilos para el contenedor derecho */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray1);
    border-radius: var(--border-radius);
}

/* Ajustes para los elementos dentro del contenedor derecho */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-image {
    transform: translate(0, 99px); /* Mueve la imagen 20px a la derecha y 10px hacia abajo */
    width: 336px; /* Ancho fijo de la imagen */
    height: 304px; /* Alto fijo de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste dentro de las dimensiones sin deformarse */
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; /* Permite que el contenedor de mensaje ocupe el espacio disponible */
}

h3.message-default {
    font-family: var(--font-family-heading);
    font-size: 28px;
    color: var(--color-blue); /* Color para h3 */
    margin-bottom: 40px; /* Espacio inferior opcional */
}

h4.message-prompt {
    font-size: 22px;
    font-family: var(--font-family-heading);
    color: var(--color-secondary); /* Color para h4 */
}


.text-output {
    font-size: var(--font-family-base);
    font-family: var(--font-family-base);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    margin-bottom: 320px;
    min-height: 500px; /* Altura mínima del contenedor, ajusta según sea necesario */
    border: none;
    outline: none; /* Quita el borde de enfoque */
    color: var(--color-result-text); /* Cambia el color del texto en el área de resultado */
}


.copy-btn {
    font-size: var(--font-size-base);
    border: none;
    cursor: pointer;
    background-color: var(--color-tertiary);
    transition: background-color 0.3s;
    display: block; /* Asegura que el botón se comporte como un bloque */
    transform: translateY(-100px); /* Ajusta este valor para mover el botón hacia arriba */
    margin: auto; /* Centra el botón horizontalmente */
    color: var(--color-button-text); /* Cambia el color del texto en el botón de copiar */

}

textarea {
    width: 100%;
    height: auto;
    padding: 50px;
    font-size: var(--font-size-base);
    border-radius: var(--border-radius);
    resize: none;
}


button {
    padding: 15px 30px;
    font-size: var(--font-size-base);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-blue);
    transition: background-color 0.3s;
    font-family: var(--font-family-heading);
    color: var(--color-button-text); /* Cambia el color del texto en los botones */
    font-family: var(--font-family-base);
}



button:hover {
    background-color: var(--color-secondary);
    color: var(--color-blue); /* Cambiar el color del texto al pasar el cursor */
}


p {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
}



/* Estilos para el pie de página */
footer {
    padding: var(--padding-base);
    background-color: var(--color-bg); /* Usa el mismo color de fondo que el cuerpo */
    color: var(--color-white);
    text-align: center;
    width: 100%;
    margin-top: auto; /* Asegura que el pie de página esté en la parte inferior */
}
